<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>تراز مالی</title>
    {% load static jformat custom_filters %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>تراز مالی</h2>
        <div class="balance-box">
            <h3>موجودی شما: {{ balance.total_balance|format_price }} ریال</h3>
            <p>آخرین به‌روزرسانی: {{ balance.last_updated|jdate:"Y/m/d H:i" }}</p>
        </div>
    </div>
</body>
</html>